<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body class="container">
<h1>Coding Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table table-striped">
    <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Description</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.getId()}"></td>
        <td th:text="${event.getName()}"></td> <!-- Thymeleaf can use event.name instead of event.getName() without a compiler error -->
        <td th:text="${event.getDescription()}"></td>
    </tr>
</table>

</ul>
</body>
</html>